test case 4 bus

In [2]:
import pandapower.networks as nw
import pandapower as pp

net = nw.simple_four_bus_system()

print(net)

This pandapower network includes the following parameter tables:
   - bus (4 elements)
   - load (2 elements)
   - sgen (2 elements)
   - ext_grid (1 element)
   - line (2 elements)
   - trafo (1 element)
   - bus_geodata (4 elements)

In [3]:
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,load1,2,0.03,0.01,0.0,0.0,NaN,1.0,True,wye
1,load2,3,0.03,0.01,0.0,0.0,NaN,1.0,True,wye

In [4]:
pp.runpp(net)
net.res_bus

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

      vm_pu  va_degree      p_mw    q_mvar
0  1.000000   0.000000 -0.028256 -0.013475
1  0.996608  -0.208127  0.000000  0.000000
2  0.937760   0.992541  0.010000  0.005000
3  0.902000   1.815913  0.015000  0.008000

In [5]:
net.sgen

  name  bus   p_mw  q_mvar  sn_mva  scaling  in_service type  current_source
0  pv1    2  0.020   0.005    0.03      1.0        True  wye            True
1  pv2    3  0.015   0.002    0.02      1.0        True  wye            True

In [6]:

net0 = pp.create_empty_network(name="empty")

print(net0)

This pandapower network includes the following parameter tables:

In [7]:
# creat bus 
b1 = pp.create_bus(net0,vn_kv=20.,name="bus1")
b2 = pp.create_bus(net0,vn_kv=.4,name="bus2")
b3 = pp.create_bus(net0,vn_kv=.4,name="bus3")

# external grid
pp.create_ext_grid(net0,b1,vm_pu=1.02)

print(net0.ext_grid)
print(net0.bus)

   name  bus  vm_pu  va_degree  slack_weight  in_service
0  None    0   1.02        0.0           1.0        True
   name  vn_kv type  zone  in_service
0  bus1   20.0    b  None        True
1  bus2    0.4    b  None        True
2  bus3    0.4    b  None        True

In [8]:
# create transformer
pp.create_transformer(net0,b1,b2,std_type="0.4 MVA 20/0.4 kV")

#create line
pp.create_line(net0, b2 , b3, std_type="NAYY 4x50 SE",length_km=0.1, name="line")

#create load
pp.create_load(net0, b3, p_mw=0.1, q_mvar=0.05)

0

In [9]:

pp.runpp(net0)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

In [10]:
print(net0.res_bus)

      vm_pu  va_degree      p_mw    q_mvar
0  1.020000   0.000000 -0.107265 -0.052675
1  1.008843  -0.760126  0.000000  0.000000
2  0.964431   0.115859  0.100000  0.050000

In [ ]:
print(net0.load)